.travel {
  width: 76.875%;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px){
  .travel {
    width: 90.625%;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px){
  .travel {
    width: 100%;
  }
}
