.travel__image-description { /*подпись к изображению*/
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
  }

  @media screen and (max-width: 768px){
    .travel__image-description {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 640px){
    .travel__image-description {
      padding-left: 16px;
    }
  }
